.header {
    height: 60px;
    display:flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo {
    width: 100px;
    object-fit: contain;
    margin: 0 30px;
    margin-top: 18px;
    margin-right: 20%;
}

.header_search {
    display: flex;
    flex: 1 ;
    align-items: center;
    border-radius: 24px;
    margin-right: 10%;
    margin-left: 10%;
}

.header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 70%;
    border-radius: 30px;
}

.header_searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
    border-radius: 30px;
}

.header_nav{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.header_option{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.header_optionLineOne {
    font-size: 11px;
}
.header_optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}
.header_optionBasket{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 5px;
}
.header_basketCount{
    
    font-size: 10px;
    
}

.cart_trolley{
    color: white;
    font-size: 1.6rem;
    position: relative;
    margin-top: 10px;
}

.cart_total_item{
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    margin-left: 35px;
    color: #000;
    border-radius: 50%;
    display: grid;
    place-items: center;
    
    background-color: aqua;
}